.navlanding{
    height: 110px;
    position: fixed;
    width: 100%;
    padding: 0px 0px;
    background: rgba(24,29,36, 0.2);
    top: 0;
    z-index: 9;
    &.creditos{
        height: 90px;
        .holder{
            .navbar-custom{
                .logo{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    height: 60px;
                    width: 97.71px;
                }
                .links{
                    margin-top: 56px;
                }
            }
        }
    }
    &.conocenos{
        height: 90px;
        .holder{
            .navbar-custom{
                .logo{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    height: 60px;
                    width: 97.71px;
                }
                .links{
                    margin-top: 56px;
                }
            }
        }
    }
    &.propiedad{
        height: 90px;
        background: #181D24;
        .holder{
            .navbar-custom{
                .logo{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    height: 60px;
                    width: 97.71px;
                }
                .links{
                    margin-top: 56px;
                }
            }
        }
    }
    .holder{
        margin: 0 auto;
        max-width: 1300px;
        width: 100%;
        .navbar-custom{
            .logo{
                float: left;
                width: 114px;
                height: 70px;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                &.isScroll{
                    height: 60px !important;
                    width: 97.71px !important;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    transition: all .5s ease-in-out;
                }
            }
            .links{
                float: none;
                position: fixed;
                z-index: 9;
                left: 100%;
                right: 0;
                top: 100px;
                bottom: 0%;
                width: 100%;
                height: 100%;
                flex-direction: column;
                background: #181D24;
                overflow: hidden;
                box-sizing: border-box;
                margin-top: 0px;
                transition: all .5s ease-in-out;
                li{
                    list-style: none;
                    a{
                        display: block;
                        padding-left: 17.5px;
                        padding-right: 17.5px;
                        padding-top: 14px;
                        padding-bottom: 14px;
                        font-size: 26px;
                        color: #FFFFFF;
                        text-decoration: none;
                        font-family: 'Silka-regular', sans-serif;
                        &:hover{
                            font-family: 'Silka-bold';
                        }
                    }
                    ul{
                        position: relative;
                        width: 100% !important;
                        left: 0;
                        background: #181D24;
                        box-shadow: none !important;
                        padding-top: 0 !important;
                        li{
                            a{
                                font-size: 18px;
                            }
                            display: flex;
                            a{
                                color: #FFFFFF;
                            }
                        }
                    }
                    .toggle,
                    [id^=drop] {
                        display: none;
                    }
                }
                a{
                    font-size: 20px;
                }
                &.isScroll{
                    top: 34px;
                    transition: all .5s ease-in-out;
                }
                .toggle + a{
                    display: none;
                }
                .toggle {
                    display: block !important;
                    padding:14px 20px;	
                    color:#FFF;
                    font-size: 26px;
                    text-decoration:none;
                    border:none;
                }
                [id^=drop]:checked + ul.dropdown {
                    display: block;
                    height: auto;
                    transition: all .5s ease-in-out;
                }
                [id^=drop]:not(:checked) + ul.dropdown {
                    display: none;
                    transition: all .5s ease-in-out;
                }
                &.isScroll{
                    margin-top: 56px;
                    transition: all .5s ease-in-out;
                }
            }
            #nav-toggle{
                position: absolute;
                top: -100px;
            }
            .icon-burger{
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                .line{
                    width: 35px;
                    height: 2px;
                    background: #CC9964;
                    margin: 5px;
                    transition: all .5s ease-in-out;
                }
            }
        }
        nav :checked ~ .links {
            bottom: 0;
            margin: 10px 0 0 0;
            left: 705px;
        }
        nav :checked ~ .icon-burger .line:nth-child(1) {
            transform: translateY(5px) rotate(225deg);
        }
        nav :checked ~ .icon-burger .line:nth-child(3) {
            transform: translateY(-9px) rotate(-225deg);
        }
        nav :checked ~ .icon-burger .line:nth-child(2) {
            opacity: 0;
        }
    }
    &.isScroll{
        background: #181D24;
        padding: 0px 0px;
        height: 90px;
        transition: all .5s ease-in-out;
    }
    &.isChecked{
        background: #181D24;
    }
}

@media (max-width: 767px){
    .navlanding{
        transition: all .5s ease-in-out;
        &.creditos{
            height: 60px;
            .holder{
                .navbar-custom{
                    .logo{
                        margin-top: 23px;
                        margin-bottom: 23px;
                        height: 13.65px;
                        width: 114px;
                        div:nth-child(1){
                            display: none !important;
                        }
                        div:nth-child(2){
                            display: block !important;
                        }
                    }
                    .links{
                        margin-top: 56px;
                        top: 4px;
                    }
                }
            }
        }
        &.conocenos{
            height: 60px;
            .holder{
                .navbar-custom{
                    .logo{
                        margin-top: 23px;
                        margin-bottom: 23px;
                        height: 13.65px;
                        width: 114px;
                        div:nth-child(1){
                            display: none !important;
                        }
                        div:nth-child(2){
                            display: block !important;
                        }
                    }
                    .links{
                        margin-top: 56px;
                        top: 4px;
                    }
                }
            }
        }
        &.propiedad{
            height: 60px;
            background: #181D24;
            .holder{
                .navbar-custom{
                    .logo{
                        margin-top: 23px;
                        margin-bottom: 23px;
                        height: 13.65px;
                        width: 114px;
                        div:nth-child(1){
                            display: none !important;
                        }
                        div:nth-child(2){
                            display: block !important;
                        }
                    }
                    .links{
                        margin-top: 56px;
                        top: 4px;
                    }
                }
            }
        }
        .holder{
            .navbar-custom{
                .logo{
                    float: none;
                    justify-content: center;
                    margin-left: 150px;
                    &.isScroll{
                        height: 13.65px !important;
                        width: 114px !important;
                        margin-top: 23px;
                        margin-bottom: 23px;
                        transition: all .5s ease-in-out;
                    }
                    .isHidden{
                        display: none;
                        transition: all 550ms ease-in-out;
                    }
                    .isShow{
                        display: block;
                        transition: all 550ms ease-in-out;
                    }
                }
                .links{
                    float: none;
                    position: fixed;
                    z-index: 9;
                    left: 100%;
                    right: 0;
                    top: 100px;
                    bottom: 0%;
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    background: #181D24;
                    overflow: hidden;
                    box-sizing: border-box;
                    margin-top: 0px;
                    transition: all .5s ease-in-out;
                    li{
                        a{
                            padding-left: 17.5px;
                            padding-right: 17.5px;
                            padding-top: 14px;
                            padding-bottom: 14px;
                            font-size: 16px;
                        }
                        ul{
                            position: relative;
                            width: 100% !important;
                            left: 0;
                            background: #181D24;
                            box-shadow: none !important;
                            padding-top: 0 !important;
                            li{

                                display: flex;
                                a{
                                    color: #FFFFFF;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    a{
                        font-size: 20px;
                    }
                    &.isScroll{
                        top: 4px;
                        transition: all .5s ease-in-out;
                    }
                    .toggle + a{
                        display: none;
                    }
                    .toggle {
                        display: block !important;
                        padding:14px 20px;	
                        color:#FFF;
                        font-size:16px;
                        text-decoration:none;
                        border:none;
                    }
                    [id^=drop]:checked + ul.dropdown {
                        display: flex;
                        flex-wrap: wrap;
                        height: auto;
                        padding: 0;
                        transition: all .5s ease-in-out;
                    }
                    [id^=drop]:not(:checked) + ul.dropdown {
                        display: none;
                        transition: all .5s ease-in-out;
                    }
                }
                .icon-burger{
                    display: block;
                }
            }
            nav :checked ~ .links {
                left: 0%;
                margin: 0;
            }
            nav :checked ~ .icon-burger .line:nth-child(1) {
                transform: translateY(5px) rotate(225deg);
            }
            nav :checked ~ .icon-burger .line:nth-child(3) {
                transform: translateY(-9px) rotate(-225deg);
            }
            nav :checked ~ .icon-burger .line:nth-child(2) {
                opacity: 0;
            }
        }
        &.isChecked{
            background: #181D24;
        }
        &.isScroll{
            background: #181D24;
            padding: 0px 0px;
            height: 60px;
            transition: all .5s ease-in-out;
        }
    }
}