.navigation{
    left: 0;
    padding: 0px 0px;
    position: fixed;
    top: 0;
    transition: all 550ms ease-in-out;
    width: 100%;
    z-index: 999;
    background: rgba(24,29,36, 0.2);
    height: 110px;
    -webkit-transition: all 550ms ease-in-out;
}
.navigation.isActive{
    background: #181D24;
    -webkit-transition: height 550ms ease-in-out;
    padding: 0px 0px;
    height: 90px;
    transition: all 550ms ease-in-out;
}
.navigation .navbar-brand.Active span{
    -webkit-transition: witdth height 550ms ease-in-out;
    width: 97.71px !important;
    height: 60px !important;
    transition: all 550ms ease-in-out;
}
.navigation .navbar-brand.Active{
    -webkit-transition: all 550ms ease-in-out;
    margin: 15px 0px 15px 70px;
    transition: all 550ms ease-in-out;
}
.navigation .navbar-brand .Show{
    display: block;
    transition: all 550ms ease-in-out;
}
.navigation .navbar-brand .Hidden{
    display: none;
    transition: all 550ms ease-in-out;
}
.navigation .navbar-collapse.Active{
    -webkit-transition: padding 550ms ease-in-out;
    transition: padding 550ms ease-in-out;
    padding-top: 56px;
    padding-bottom: 15px;
    padding-right: 78px;
    height: 19px;
}
.navigation.isPropiedad{
    background: #181D24;
}
.navigation .isClick{
    background: #181D24;
}
.navigation .holder{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}
.navigation .navbar{
    padding: 0;
}
.navigation .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.navigation .navbar-collapse{
    padding-top: 71px;
    padding-bottom: 20px;
    padding-right: 78px;
    height: 19px;
}
.navigation .navbar-collapse .navbar-nav{
    height: 19px;
}
.navigation .navbar-collapse .navbar-nav li:hover>.dropdown-menu {
    display: block;
    transition: opacity 1s ease-out;
}
.navigation .navbar-collapse .navbar-nav .nav-link{
    padding: 0;
    padding-left: 17.5px;
    padding-right: 17.5px;
}
.navigation .navbar-collapse .navbar-nav .dropdown-toggle span{
    transform: rotateZ(270deg);
    -webkit-transition: all 550ms ease-in-out;
}
.navigation .navbar-collapse .navbar-nav .dropdown-toggle:hover span{
    transform: rotateZ(360deg);
    -webkit-transition: all 550ms ease-in-out;
}
.navigation .navbar-collapse .dropdown-menu{
    background: rgba(238, 238, 238, 0.7);
    left: -50px;
    width: 220px;
    height: 240px;
    padding: 0px 0px;
    margin-top: 25px;
}
.navigation .navbar-collapse .dropdown-menu li{
    padding-top: 12px;
    padding-bottom: 12px;
}
.navigation .navbar-collapse .dropdown-menu li a{
    padding: 0;
}
.navigation .navbar-brand{
    margin: 20px 0px 20px 70px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 0;
}
.navigation .bi.bi-list{
    color: #CC9964;
    font-size: 35px;
}
.navigation .navbar-toggler{
    border: none;
    padding-right: 17px;
}
.navigation .navbar-toggler:focus{
    box-shadow: none;
}
.navigation .navbar-nav .nav-link{
    font-family: 'Silka-regular', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.navigation .navbar-nav .nav-link:hover{
    font-family: 'Silka-bold';
}
.navigation .navbar-nav .nav-link::after{
    display:block;
    content: '';
    border-bottom: solid 3px #CC9964;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navigation .navbar-nav .nav-link.dropdown-toggle::after{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.navigation .navbar-nav .nav-link.dropdown-toggle span{
    margin-left: 5px !important;
}
.navigation .navbar-nav .nav-link:hover:after{
    transform: scaleX(1);
}
#footer{
    background: #181D24;
}
#footer .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
    padding-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 35px;
}
#footer .fcc-text{
    font-family: 'Silka-regular', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
#footer .fcc-text span{
    font-family: 'Silka-bold';
    color: #CC9964;
}
#footer .fcc-link ul a{
    font-family: 'Silka-regular', sans-serif;
    font-size: 10px;
    padding: 8px;
    color: #EEEEEE;
}
#footer .fcc-aviso{
    border-top: 1px solid #CC9964;
    margin-top: 10px;
    padding-top: 10px;
}
#footer .fcc-aviso .derechos{
    font-family: 'Silka-regular', sans-serif;
    font-size: 10px;
    color: #EEEEEE;
}
.whats {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    right: 0; /* Establecemos la barra en la izquierda */
    top: 200px; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
.whats ul {
    list-style: none;
}
.whats ul .whatsapp{
    background: #25D366;
}
.whats ul .phone{
    background: #CC9964;
}
.whats ul li{
    margin-bottom: 20px;
    padding: 0px 14px;
    border-radius: 30px 0px 0px 30px;
}
.whats ul li a{
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 15px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
    margin-top: 13px;
}
.whats ul li.whatsapp:hover{
    background: #075E54;
}
.whats ul li.phone:hover{
    background: #8E6439;
}
.whats ul li .icon-whatsapp {
    background: url("../icons/wa-cta.svg") no-repeat;
}
.whats ul li .icon-number {
    background: url("../icons/phone-cta.svg") no-repeat;
}
    
@media (max-width: 767px){
    .navigation{
        padding: 0px 0px;
    }
    .navigation .navbar-brand{
        margin-left: 150px;
    }
    .navigation .navbar-collapse{
        margin-top: 0px;
    }
    .navigation .navbar-nav .nav-link{
        margin: 10px;
        font-family: 'Silka-regular', sans-serif;
        font-size: 20px;
        color: #FFFFFF;
    }
    .navigation .navbar-collapse{
        margin-top: 0px;
        margin-right: 0px;
    }
    .navigation .navbar-collapse .dropdown-menu{
        background: transparent;
        color: #FFFFFF;
    }
    .dropdown-menu.show {
        display: flex;
        flex-wrap: wrap;
    }
    .navigation .navbar-collapse .dropdown-menu li a{
        color: #FFFFFF;
    }
    .navigation .navbar-collapse .navbar-nav{
        height: auto;
    }
    .navigation .navbar-collapse{
        padding-top: 0px;
        padding-bottom: 20px;
        padding-right: 78px;
        height: auto;
    }
    .navigation .navbar-collapse.Active{
        padding-top: 0px;
        height: auto;
    }
    .navigation .navbar-collapse .dropdown-menu{
        margin-top: 0px;
        width: 100%;
    }
    .navigation .navbar-brand.Active{
        -webkit-transition: all 550ms ease-in-out;
        margin: 23px 0px 23px 150px;
        transition: all 550ms ease-in-out;
    }
    #footer .holder{
        padding-top: 60px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 100px;
    }
    #footer .fcc-text{
        font-size: 14px;
    }
    #footer .fcc-link ul a{
        font-size: 10px;
    }
}