#galeria{
    background: rgba(151, 151, 151, 0.2);
}
#galeria .holder{
    margin: 0 auto;
    max-width: 1330px;
    width: 100%;
    padding: 170px 70px 60px 70px;
}
#galeria .holder .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
}
#galeria .holder .wrapper div:nth-child(1){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    margin: auto
}
#galeria .holder .wrapper div:nth-child(1) img{
    border-radius: 10px;
}
#galeria .holder .wrapper div:nth-child(1) span:hover{
    filter: brightness(40%);
}
#galeria .holder .wrapper div:nth-child(1n+2){
    margin: 12px 12px 12px 12px;
}
#galeria .holder .wrapper div:nth-child(1n+2) img{
    border-radius: 10px;
}
#galeria .holder .wrapper div:nth-child(1n+2) span:hover{
    filter: brightness(40%);
}
#galeria .holder .wrapper #ReactSimpleImageViewer{
    margin: 0 !important;
}
#content{

}
#content .holder{
    margin: 0px auto;
    max-width: 1330px;
    width: 100%;
    padding: 57px 70px;
}
#content .sku{
    font-family: 'Silka-regular', sans-serif;
    font-size: 14px;
    color: #515761;
}
#content .categoria span{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-family: 'Silka-bold';
    font-size: 14px;
    background: #CC9964;
    color: #EEEEEE;
    border-radius: 5px;
}
#content .titulo h1{
    font-family: 'Silka-bold';
    font-size: 26px;
    color: #181D24;
    margin-top: 26px;
}
#content .direccion h5{
    font-family: 'Silka-regular', sans-serif;
    font-size: 16px;
    color: #515761;
    display: contents;
}
#content .precio {
    margin-top: 30px;
}
#content .precio h2{
    font-family: 'Silka-bold';
    font-size: 40px;
    color: #CC9964;
}
#content .aminidades .nav-link{
    padding: 5px 5px !important;
}
#content .aminidades p{
    font-family: 'Silka-regular', sans-serif;
    font-size: 12px;
    color: #515761 !important;
}
#content .aminidades p span{
    font-family: 'Silka-regular', sans-serif;
    font-size: 20px;
    color: #515761;
}
#content .detalles{
    padding: 40px 0px;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
#content .detalles h3{
    font-family: 'Silka-bold';
    font-size: 22px;
    color: #181D24;
}
#content .detalles p{
    font-family: 'Silka-regular', sans-serif;
    font-size: 16px;
    color: #515761; 
}
#content .aminidadesP2{
    padding: 40px 0px;
    border-bottom: 1px solid #979797;
}
#content .aminidadesP2 h3{
    font-family: 'Silka-bold';
    font-size: 22px;
    color: #181D24;
}
#content .aminidadesP2 p{
    font-family: 'Silka-regular', sans-serif;
    font-size: 16px;
    color: #515761; 
}

#content .video{
    padding: 40px 0px;
    border-bottom: 1px solid #979797;
}

#content .video h3{
    font-family: 'Silka-bold';
    font-size: 22px;
    color: #181D24;
}
#content .video div{
    width: 100% !important;
    height: 482px !important;
}
@media (max-width: 767px){
    #galeria{
        background: #FFFFFF;
    }
    #galeria .holder{
        padding: 125px 17px 25px 17px;
    }
    #galeria .holder .wrapper div:nth-child(1){
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        margin: auto
    }
    #galeria .holder .wrapper div:nth-child(1n+2){
        display: none;
    }
    #galeria .holder .wrapper div:nth-child(1) span{
        width: 330px !important;
        height: 250px !important;
    }
    #content .holder{
        padding: 0px 17px;
    }
    #content .sku{
        font-size: 12px;
    }
    #content .categoria {
        text-align: end;
    }
    #content .categoria span{
        font-family: 'Silka-bold';
        font-size: 12px;
        color: #181D24;
        border-bottom: 2px solid #CC9964;
        background: #FFFFFF;
        border-radius: 0px;
    }
    #content .titulo h1{
        font-size: 24px;
        margin-top: 24px;
    }
    #content .direccion h5{
        font-size: 14px;
    }
    #content .precio {
        margin-top: 28px;
    }
    #content .precio h2{
        font-size: 38px;
    }
    #content .aminidades p{
        font-size: 12px;
    }
    #content .aminidades p span{
        font-size: 20px;
    }
    #content .video div{
        width: 100% !important;
        height: 233px !important;
    }
}